.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    border-radius: 4px;
    font-size: 18px;
    width: max-content;
    &:hover {
    }
    &:active {
    }
    &-orange {
        color: $white;
        background: $orange;
        padding: 10px 40px;
        &:hover {
        }
    }
    &-orange {
        color: $white;
        background: $red;
        padding: 10px 40px;
        &:hover {
        }
    }
}
