.main-head {
   img {
      max-width: 100%;
      display: block;
   }
   &__content {
      display: flex;
      column-gap: 35px;
      @media (max-width: 767.98px) {
         flex-direction: column;
      }
   }

   &__text {
      flex: 0 0 600px;
      @media (max-width: 1400px) {
         flex: 0 1 600px;
      }
      @media (max-width: 767.98px) {
         flex: 1 1 auto;
         margin-bottom: 40px;
      }
   }

   &__title {
      font-weight: 600;
      font-size: 38px;
      line-height: 134%;
      color: #030303;
      margin: 50px 0px 40px 0px;
      span {
         font-style: italic;
         color: #cc7f31;
      }
      @media (max-width: 1200px) {
         font-size: 32px;
      }
      @media (max-width: 767.98px) {
         margin-top: 0;
         text-align: center;
      }
   }

   &__button {
      font-weight: 400;
      font-size: 18px;
      line-height: 134%;
      border: 1px solid #cc7f31;
      border-radius: 4px;
      padding: 12px 21px;
      white-space: nowrap;
      transition: all 0.3s ease 0s;
      background-color: #fff;
      @media (any-hover: hover) {
         &:hover {
            transition: all 0.3s ease 0s;
            background: #fff8ea;
         }
      }
      @media (max-width: 1200px) {
         font-size: 16px;
      }

      @media (max-width: 767.98px) {
         display: block;
         margin: 0 auto;
      }
      @media (max-width: 370px) {
         font-size: 13px;
      }
   }

   &__img {
      flex: 0 0 653px;
      display: flex;
      justify-content: center;
      align-items: center;
      object-fit: cover;
      @media (max-width: 1150px) {
         flex: 0 1 653px;
      }
      @media (max-width: 767.98px) {
         align-self: center;
         flex: 1 1 auto;
      }
   }
}

.we-work {
   min-height: 115px;
   background: #fff8ea;
   display: flex;
   padding-left: calc((100vw - 1170px) / 2);
   margin-left: calc((-100vw + 1170px) / 2);
   padding-right: calc((100vw - 1170px) / 2);
   margin-right: calc((-100vw + 1170px) / 2);
   @media (max-width: 1199.98px) {
      padding-left: calc((100vw - 970px) / 2);
      margin-left: calc((-100vw + 970px) / 2);
      padding-right: calc((100vw - 970px) / 2);
      margin-right: calc((-100vw + 970px) / 2);
   }
   @media (max-width: 991.98px) {
      padding-left: calc((100vw - 750px) / 2);
      margin-left: calc((-100vw + 750px) / 2);
      padding-right: calc((100vw - 750px) / 2);
      margin-right: calc((-100vw + 750px) / 2);
   }
   @media (max-width: 767.98px) {
      padding: 0px 15px;
      margin: 0px -15px;
   }
   position: relative;
   &__content {
      flex: 0 1 1170px;
      display: flex;
      align-items: center;
      column-gap: 20px;
      @media (max-width: 767.98px) {
         flex-direction: column;
         padding: 50px 16px;
      }
   }

   &__text {
      font-style: italic;
      font-weight: 400;
      font-size: 24px;
      line-height: 134%;
      flex: 1 1 auto;
      text-align: center;
      margin: 0px 0px 0px 0px;
      @media (max-width: 767.98px) {
         margin-bottom: 40px;
      }
   }

   &__link {
      flex: 0 0 60px;
   }

   &__points {
      position: absolute;
      top: -22px;
      left: 5px;
   }
}

.judg-services {
   img {
      max-width: 100%;
      display: block;
   }
   &__content {
   }
   &__top-title {
      font-weight: 600;
      font-size: 32px;
      line-height: 134%;
      margin: 0px 0px 60px 0px;
      @media (max-width: 767.98px) {
         font-size: 24px;
         text-align: center;
      }
   }

   &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
   }

   &__item {
      flex: 0 1 370px;
      box-shadow: 0px 2px 14px 2px rgba(0, 0, 0, 0.1);
      border-radius: 6px;
   }

   &__img {
      height: 270px;
      display: flex;
      justify-content: center;
      align-items: center;
      object-fit: cover;
   }
   &__title {
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      border: 1px solid #cc7f31;
      border-radius: 4px;
      padding: 0px 10px;
      text-align: center;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   &__descr {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #383838;
      padding: 24px 12px;
      min-height: 136px;
   }

   &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 24px;
   }

   &__btn {
      flex: 0 0 256px;
      background: #cc7f31;
      border-radius: 4px;
      font-weight: 400;
      font-size: 16px;
      line-height: 134%;
      color: #ffffff;
      padding: 14px 0px;
      border: 1px solid #cc7f31;
      transition: all 0.3s ease 0s;
      @media (any-hover: hover) {
         &:hover {
            transition: all 0.3s ease 0s;
            background: #ffffff;
            color: #cc7f31;
         }
      }
   }
}

.private-office {
   img {
      max-width: 100%;
      display: block;
   }
   max-height: 550px;
   background: #fff8ea;
   padding-left: calc((100vw - 1170px) / 2);
   margin-left: calc((-100vw + 1170px) / 2);
   padding-right: calc((100vw - 1170px) / 2);
   margin-right: calc((-100vw + 1170px) / 2);
   @media (max-width: 1199.98px) {
      padding-left: calc((100vw - 970px) / 2);
      margin-left: calc((-100vw + 970px) / 2);
      padding-right: calc((100vw - 970px) / 2);
      margin-right: calc((-100vw + 970px) / 2);
      max-height: none;
   }
   @media (max-width: 991.98px) {
      padding-left: calc((100vw - 750px) / 2);
      margin-left: calc((-100vw + 750px) / 2);
      padding-right: calc((100vw - 750px) / 2);
      margin-right: calc((-100vw + 750px) / 2);
   }
   @media (max-width: 767.98px) {
      padding: 0px 15px;
      margin: 0px -15px;
   }
   &__content {
      padding: 42px 0px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media (max-width: 1200px) {
         justify-content: center;
      }
   }

   &__info {
      flex: 0 0 540px;
      margin-bottom: 40px;
      @media (max-width: 767.98px) {
         flex: 1 1 auto;
      }
   }

   &__title {
      font-weight: 600;
      font-size: 32px;
      line-height: 44px;
      margin-bottom: 16px;
      @media (max-width: 767.98px) {
         font-size: 24px;
      }
   }

   &__descr {
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      margin: 0px 0px 0px 0px;
      @media (max-width: 767.98px) {
         font-size: 14px;
         line-height: 19px;
      }
   }

   &__video {
      background: rgba(0, 0, 0, 0.75);
      border-radius: 4px;
      flex: 0 1 470px;
      height: 257px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translate(0px, -320px);
      @media (max-width: 1200px) {
         transform: translate(0px, 0px);
      }
   }

   &__link {
   }

   &__img {
      flex: 0 1 538px;
      margin-bottom: 60px;
   }
}

.hosting {
   img {
      max-width: 100%;
      display: block;
   }
   &__content {
      display: flex;
      flex-wrap: wrap;
      @media (max-width: 767.98px) {
         flex-direction: column;
         flex-wrap: nowrap;
         align-items: center;
      }
   }

   &__title {
      padding-top: 60px;
      flex: 1 1 50%;
      font-weight: 600;
      font-size: 32px;
      line-height: 44px;
      @media (max-width: 767.98px) {
         flex: 1 1 auto;
         align-self: start;
         margin-bottom: 40px;
      }
   }

   &__descr {
      flex: 1 1 50%;
      align-self: end;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      transform: translate(0px, 100px);
      @media (max-width: 991.98px) {
         font-size: 14px;
         line-height: 19px;
      }
      @media (max-width: 767.98px) {
         flex: 1 1 auto;
         transform: translate(0px, 0px);
         margin-bottom: 60px;
      }
   }

   &__img {
      flex: 1 1 50%;
      @media (max-width: 767.98px) {
         flex: 1 1 auto;
         margin-bottom: 40px;
      }
   }

   &__block-btn {
      flex: 1 1 50%;
      align-self: end;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 767.98px) {
         flex: 1 1 auto;
         align-self: center;
      }
   }

   &__btn {
      border: unset;
      outline: none;
      font-weight: 400;
      font-size: 16px;
      line-height: 134%;
      color: #ffffff;
      background: #cc7f31;
      border-radius: 4px;
      padding: 14px 0px;
      width: 200px;
      max-height: 50px;
   }
}

.stream-for-lawyer {
   background: #fff8ea;
   padding-left: calc((100vw - 1170px) / 2);
   margin-left: calc((-100vw + 1170px) / 2);
   padding-right: calc((100vw - 1170px) / 2);
   margin-right: calc((-100vw + 1170px) / 2);
   @media (max-width: 1199.98px) {
      padding-left: calc((100vw - 970px) / 2);
      margin-left: calc((-100vw + 970px) / 2);
      padding-right: calc((100vw - 970px) / 2);
      margin-right: calc((-100vw + 970px) / 2);
   }
   @media (max-width: 991.98px) {
      padding-left: calc((100vw - 750px) / 2);
      margin-left: calc((-100vw + 750px) / 2);
      padding-right: calc((100vw - 750px) / 2);
      margin-right: calc((-100vw + 750px) / 2);
   }
   @media (max-width: 767.98px) {
      padding: 0px 15px;
      margin: 0px -15px;
   }
   &__content {
      display: flex;
      gap: 70px;
      align-items: center;
      padding: 52px 0px 12px 0px;
      @media (max-width: 767.98px) {
         display: block;
         padding: 40px 0px;
      }
   }

   &__text-content {
      flex: 0 0 calc(57% - 70px);
   }

   &__title {
      font-weight: 600;
      font-size: 32px;
      margin-bottom: 40px;
      @media (max-width: 767.98px) {
         font-size: 24px;
      }
   }

   &__desct {
      font-size: 18px;
      margin-bottom: 40px;
   }

   &__button {
      background: #cc7f31;
      border-radius: 4px;
      color: #fff;
      padding: 11px 10px;
      max-width: 190px;
      width: 100%;
      display: block;
      border: none;
      font-size: 16px;
      &_pc {
         @media (max-width: 767.98px) {
            display: none;
         }
      }

      &_mob {
         margin: 0 auto;
         @media (min-width: 767.98px) {
            display: none;
         }
      }
   }

   &__img {
      flex: 0 0 43%;
      @media (max-width: 767.98px) {
         display: flex;
         justify-content: center;
         margin-bottom: 40px;
      }
      img {
         max-width: 100%;
      }
   }
}

.info-analytics {
   position: relative;
   background: #fff8ea;
   padding-left: calc((100vw - 1170px) / 2);
   margin-left: calc((-100vw + 1170px) / 2);
   padding-right: calc((100vw - 1170px) / 2);
   margin-right: calc((-100vw + 1170px) / 2);
   @media (max-width: 1199.98px) {
      padding-left: calc((100vw - 970px) / 2);
      margin-left: calc((-100vw + 970px) / 2);
      padding-right: calc((100vw - 970px) / 2);
      margin-right: calc((-100vw + 970px) / 2);
      max-height: none;
   }
   @media (max-width: 991.98px) {
      padding-left: calc((100vw - 750px) / 2);
      margin-left: calc((-100vw + 750px) / 2);
      padding-right: calc((100vw - 750px) / 2);
      margin-right: calc((-100vw + 750px) / 2);
   }
   @media (max-width: 767.98px) {
      padding: 0px 15px;
      margin: 0px -15px;
   }
   &__content {
      padding: 42px 0px;
   }
   &__points {
      position: absolute;
      right: 0;
      top: -22px;
   }
   &__title {
      font-weight: 600;
      font-size: 32px;
      line-height: 44px;
      margin-bottom: 60px;
      @media (max-width: 767.98px) {
         font-weight: 600;
         font-size: 24px;
         line-height: 33px;
         margin-bottom: 42px;
      }
   }

   &__lists {
      display: flex;
      justify-content: space-between;
      column-gap: 20px;
      @media (max-width: 767.98px) {
         flex-direction: column;
         row-gap: 32px;
      }
   }

   &__block {
      flex: 0 1 312px;
      @media (max-width: 767.98px) {
         flex: 1 1 auto;
      }
   }

   &__subtitle {
      font-weight: 600;
      font-size: 20px;
      line-height: 27px;
      border-bottom: 1px solid #333333;
      margin-bottom: 16px;
      max-width: max-content;
   }

   &__list {
      color: #bd462b;

      a {
         text-decoration: none;
         &:focus,
         &:hover {
            outline: none;
            color: inherit;
         }
      }
      display: flex;
      flex-direction: column;
      row-gap: 12px;
   }

   &__link {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #bd462b;
   }
}

.main-statistics {
   &__content {
   }

   &__title {
      font-weight: 600;
      font-size: 32px;
      line-height: 44px;
      margin-bottom: 54px;
      @media (max-width: 767.98px) {
         font-size: 24px;
         line-height: 33px;
      }
   }

   &__list {
      display: flex;
      justify-content: space-between;
      gap: 60px 30px;
      flex-wrap: wrap;
      @media (max-width: 1200px) {
         justify-content: center;
      }
      @media (max-width: 767.98px) {
         gap: 60px 20px;
      }
      @media (max-width: 479.98px) {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
      }
   }

   &__item {
      @media (max-width: 479.98px) {
         &:last-child {
            grid-column-end: 3;
            grid-column-start: 1;
         }
      }

      @media (max-width: 350px) {
         transform: scale(0.8);
      }
   }

   &__img {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 12px;
      @media (max-width: 767.98px) {
         img {
            width: 40px;
            height: 40px;
         }
      }
   }

   &__item-name {
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      white-space: nowrap;
      margin-bottom: 24px;
   }

   &__item-counter {
      text-align: center;
      font-weight: 400;
      font-size: 58px;
      line-height: 79px;
      @media (max-width: 767.98px) {
         font-size: 48px;
      }
   }
}

.faq-spoiler {
   &__title {
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      color: #383838;
      margin-bottom: 32px;
      @media (max-width: 767.98px) {
         font-size: 24px;
         line-height: 33px;
      }
   }

   &__list {
   }

   &__item {
      margin-bottom: 20px;
      padding-left: 40px;
      &.active {
         .faq-spoiler__content {
            max-height: 200px;
            display: block;
            transition: all 1s ease 0s;
         }
      }
   }

   &__btn {
      cursor: pointer;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      color: #383838;
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 767.98px) {
         font-size: 16px;
         line-height: 22px;
      }
      &::before {
         content: url('../images/new-main-page/open-spoiler.svg');
         position: absolute;
         left: -40px;
      }
   }

   &__content {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      margin-top: 15px;
      max-height: 0px;
      display: none;
      transition: all 1s ease 0s;
   }
}

//========================================================================================================================================================

.new-main-page {
   margin-top: 70px;
   font-family: 'Open Sans';
   @media (max-width: 767.98px) {
      padding: 0px 15px;
   }
   &__head {
      margin-bottom: 80px;
   }
   &__we-work {
      margin-bottom: 80px;
   }
   &__services {
      margin-bottom: 100px;
   }
   &__private-office {
      margin-bottom: 25px;
   }
   &__hosting {
      margin-bottom: 100px;
      @media (max-width: 767.98px) {
         margin-bottom: 60px;
      }
   }

   &__stream-for-lawyer {
      margin-bottom: 100px;
      @media (max-width: 767.98px) {
         margin-bottom: 60px;
      }
   }
   &__info-analytics {
      margin-bottom: 100px;
   }
   &__statistics {
      margin-bottom: 100px;
   }
   &__faq {
   }
}
