@font-face {
   font-family: 'Open Sans';
   src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
      url('../fonts/OpenSans-Bold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Open Sans';
   src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
      url('../fonts/OpenSans-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Open Sans';
   src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
      url('../fonts/OpenSans-SemiBold.woff') format('woff');
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

.online-user {
   color: #27ae60 !important;
}
.container {
   height: auto;
}
.all-dialogue-main .call-lawyer {
   padding-bottom: 42px;
}
@media (max-width: 767.98px) {
   .all-dialogue-main .call-lawyer {
      padding-bottom: 20px;
   }
}
.all-dialogue-main .call-lawyer-menu {
   margin-bottom: 20px;
}
@media (max-width: 767.98px) {
   .all-dialogue-main .call-lawyer-menu {
      padding-right: 15px;
      padding-left: 15px;
      margin-bottom: 30px;
   }
}
.one-dialogue {
   font-family: 'Open Sans';
   margin: 0px 5px;
}
.one-dialogue__table {
   border: 1px solid #bdbdbd;
   border-radius: 4px;
}
.one-dialogue__table-head {
   background: #bdbdbd;
   font-size: 18px;
   line-height: 25px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   padding: 18px 0px;
}
.one-dialogue__table-head p {
   margin: 0px 0px 0px 0px;
}
.one-dialogue__table-head-title {
   font-weight: 400;
   -webkit-box-flex: 1;
   -ms-flex: 1 1 50%;
   flex: 1 1 50%;
   padding: 0px 0px 0px 150px;
}
@media (max-width: 991.98px) {
   .one-dialogue__table-head-title {
      padding: 0px 0px 0px 10px;
      font-size: 16px;
      line-height: 22px;
   }
}
.one-dialogue__table-head-date {
   font-weight: 600;
   -webkit-box-flex: 1;
   -ms-flex: 1 1 50%;
   flex: 1 1 50%;
   padding: 0px 160px 0px 0px;
   text-align: right;
}
@media (max-width: 991.98px) {
   .one-dialogue__table-head-date {
      padding: 0px 10px 0px 0px;
      font-size: 16px;
      line-height: 22px;
   }
}
.one-dialogue__body {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   min-height: 165px;
}
@media (max-width: 991.98px) {
   .one-dialogue__body {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
   }
}
.one-dialogue__first-column {
   -webkit-box-flex: 1;
   -ms-flex: 1 1 33.333%;
   flex: 1 1 33.333%;
   border-right: 1px solid #bdbdbd;
}
@media (max-width: 991.98px) {
   .one-dialogue__first-column {
      border-right: none;
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
   }
}
.one-dialogue__user {
   padding: 20px 0px 0px 20px;
}
@media (max-width: 991.98px) {
   .one-dialogue__user {
      padding: 15px 0px 0px 10px;
   }
}
.one-dialogue__second-column {
   -webkit-box-flex: 1;
   -ms-flex: 1 1 33.333%;
   flex: 1 1 33.333%;
   border-right: 1px solid #bdbdbd;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   padding: 40px 0px 0px 0px;
}
@media (max-width: 991.98px) {
   .one-dialogue__second-column {
      border-right: none;
      -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
      flex: 1 1 50%;
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: start;
   }
}
.one-dialogue__link-file a,
.one-dialogue__link-file a:hover {
   text-decoration: none;
   font-weight: 400;
   font-size: 16px;
   line-height: 22px;
   color: #c74a2e;
}
@media (max-width: 991.98px) {
   .one-dialogue__link-file {
      padding: 0px 0px 0px 20px;
   }
}
.one-dialogue__third-column {
   -webkit-box-flex: 1;
   -ms-flex: 1 1 33.333%;
   flex: 1 1 33.333%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   padding: 25px 0px 0px 0px;
}
@media (max-width: 991.98px) {
   .one-dialogue__third-column {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
   }
}
.one-dialogue__datetime-list {
   text-align: center;
}
@media (max-width: 991.98px) {
   .one-dialogue__datetime-list {
      font-size: 12px;
      line-height: 16px;
      text-align: left;
      margin: 0px 0px 0px 10px;
   }
}
.one-dialogue__btn-delete {
   max-width: 26px;
   -webkit-transform: translate(70px, 13px);
   -ms-transform: translate(70px, 13px);
   transform: translate(70px, 13px);
   cursor: pointer;
}
@media (max-width: 991.98px) {
   .one-dialogue__btn-delete {
      -webkit-transform: translate(200px, 13px);
      -ms-transform: translate(200px, 13px);
      transform: translate(200px, 13px);
   }
}
@media (max-width: 370px) {
   .one-dialogue__btn-delete {
      -webkit-transform: translate(165px, 13px);
      -ms-transform: translate(165px, 13px);
      transform: translate(165px, 13px);
   }
}
.user-dialogue {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}
.user-dialogue__img {
   -webkit-box-flex: 0;
   -ms-flex: 0 0 60px;
   flex: 0 0 60px;
   margin: 0px 12px 0px 0px;
}
.user-dialogue__info {
   -webkit-box-flex: 1;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
}
@media (max-width: 991.98px) {
   .user-dialogue__info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
   }
}
.user-dialogue__name {
   font-weight: 600;
   font-size: 16px;
   line-height: 134%;
   color: #c74a2e;
   margin: 0px 0px 5px 0px;
   max-width: 170px;
}
@media (max-width: 991.98px) {
   .user-dialogue__name {
      max-width: none;
      padding: 0px 10px 0px 0px;
   }
}
.user-dialogue__status {
   font-weight: 600;
   font-size: 10px;
   line-height: 14px;
   color: #27ae60;
}
@media (max-width: 991.98px) {
   .user-dialogue__status {
      margin: 0px 0px 0px 0px;
   }
}
.more-dialogues .user-dialogue__info {
   text-align: left;
}
.more-dialogues .user-dialogue__status {
   font-size: 11px;
}
.tabs {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}
@media (max-width: 1200px) {
   .tabs {
      margin: 0px 15px;
   }
}
@media (max-width: 991.98px) {
   .tabs {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 0px 0px 0px 0px;
   }
}
.tabs__main-column-left {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   border: 1px solid #bdbdbd;
   border-radius: 4px;
}
@media (max-width: 1200px) {
   .tabs__main-column-left {
      margin: 0px 15px 0px 0px;
   }
}
@media (max-width: 991.98px) {
   .tabs__main-column-left {
      border: none;
      margin: 0px 4px;
   }
}
.tabs__main-chats-title {
   background: #bdbdbd;
   border-radius: 4px 4px 0px 0px;
   font-weight: 600;
   font-size: 18px;
   line-height: 25px;
   padding: 18px 126px;
}
@media (max-width: 991.98px) {
   .tabs__main-chats-title {
      padding: 18px 10px;
      margin-bottom: 12px;
   }
}
.tabs__main-navigation {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
}
.tabs__main-title {
   background-color: #fff;
   border: none;
   padding: 10px 18px;
}
@media (max-width: 991.98px) {
   .tabs__main-title {
      min-width: 100%;
      -webkit-box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.08);
      box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.08);
      border-radius: 4px;
      margin-bottom: 20px;
   }
}
.tabs__main-title._tab-active {
   background: #c74a2e;
}
.tabs__main-title._tab-active .user-dialogue__name {
   color: #fff;
}
.tabs__main-title._tab-active .user-dialogue__status {
   color: #fff;
}
.tabs__main-column-right {
   -webkit-box-flex: 0;
   -ms-flex: 0 1 830px;
   flex: 0 1 830px;
}
@media (max-width: 991.98px) {
   .tabs__main-column-right {
      padding: 0px 8px;
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
   }
}
.tabs__main-body {
   border: 1px solid #bdbdbd;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   border-radius: 4px;
}
@media (max-width: 991.98px) {
   .tabs__main-body {
      margin-bottom: 20px;
   }
}
.tabsin__inside-row-top {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   border-bottom: 1px solid #bdbdbd;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   border-radius: 4px;
}
@media (max-width: 767.98px) {
   .tabsin__inside-row-top {
      display: block;
   }
}
.tabsin__inside-user {
   margin: 8px 70px 0px 17px;
   -webkit-box-flex: 0;
   -ms-flex: 0 0 236px;
   flex: 0 0 236px;
}
@media (max-width: 767.98px) {
   .tabsin__inside-user {
      display: none;
   }
}
.tabsin__inside-user .user-dialogue__img {
   max-width: 52px;
}
.tabsin__inside-user .user-dialogue__name {
   color: #000000;
   font-weight: 400;
   font-size: 16px;
   line-height: 22px;
}
.tabsin__inside-user .user-dialogue__status {
   font-weight: 600;
   font-size: 11px;
   line-height: 15px;
   color: #c74a2e;
}
.tabsin__inside-navigation {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-column-gap: 40px;
   -moz-column-gap: 40px;
   column-gap: 40px;
   font-weight: 600;
   font-size: 16px;
   line-height: 22px;
}
@media (max-width: 767.98px) {
   .tabsin__inside-navigation {
      padding: 19px 11px;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
   }
}
.tabsin__inside-title {
   background-color: #fff;
   border: none;
}
.tabsin__inside-title._tab-active {
   color: #c74a2e;
}
.tabsin__inside-row-bottom {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   min-height: 170px;
   margin: 27px 0px 0px 0px;
}
@media (max-width: 1200px) {
   .tabsin__inside-row-bottom {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
   }
}
@media (max-width: 767.98px) {
   .tabsin__inside-row-bottom {
      margin: 20px 0px 0px 0px;
      min-height: 150px;
   }
}
.tabsin__inside-row-bottom-order {
   margin: 0px 53px 0px 65px;
   position: relative;
}
.tabsin__inside-row-bottom-order:hover {
   text-decoration: underline;
   color: #c74a2e;
}
.tabsin__inside-row-bottom-order::before {
   content: url(../images/more-dialogues/order.svg);
   position: absolute;
   width: 42px;
   height: 42px;
   top: -7px;
   left: -46px;
}
@media (max-width: 767.98px) {
   .tabsin__inside-row-bottom-order::before {
      top: 0;
   }
}
@media (max-width: 1200px) {
   .tabsin__inside-row-bottom-order {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
   }
}
@media (max-width: 767.98px) {
   .tabsin__inside-row-bottom-order {
      margin-bottom: 10px;
   }
}
.tabsin__inside-row-bottom-button-container {
   margin: 0px 30px 0px 0px;
}
@media (max-width: 1200px) {
   .tabsin__inside-row-bottom-button-container {
      margin: 0px 30px 0px 30px;
   }
}
@media (max-width: 767.98px) {
   .tabsin__inside-row-bottom-button-container {
      margin: 0px 30px 0px 10px;
   }
}
@media (max-width: 370px) {
   .tabsin__inside-row-bottom-button-container {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 150px;
      flex: 1 1 150px;
   }
}
.tabsin__inside-row-bottom-button {
   border: none;
   font-weight: 600;
   font-size: 14px;
   line-height: 19px;
   background: #cc7f31;
   border-radius: 20px;
   color: #fff;
   padding: 8px 27px;
}
.tabsin__inside-row-bottom-button:active {
   border: none;
}
.tabsin__inside-row-bottom-mail {
   margin: 0px 20px 0px 0px;
}
@media (max-width: 767.98px) {
   .tabsin__inside-row-bottom-mail {
      margin: 0px 30px 0px 0px;
   }
}
.small-info-profail {
   -webkit-box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.08);
   box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.08);
   border-radius: 4px;
   max-width: 870px;
   margin-bottom: 20px;
}
@media (max-width: 991.98px) {
   .small-info-profail {
      margin: 0px 8px 20px 8px;
   }
}
.small-info-profail__row {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}
@media (max-width: 991.98px) {
   .small-info-profail__row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
   }
}
.small-info-profail__column-user {
   padding: 24px 12px;
   border-right: 1px solid #e0e0e0;
   min-width: 300px;
}
@media (max-width: 991.98px) {
   .small-info-profail__column-user {
      border-right: none;
      border-bottom: 1px solid #e0e0e0;
      padding: 16px 7px 10px 7px;
   }
}
.small-info-profail__user .user-dialogue__status {
   color: #4f4f4f;
}
.small-info-profail__column-info {
   padding: 21px 12px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   font-weight: 600;
   font-size: 18px;
   line-height: 25px;
}
.small-info-profail__column-info span {
   font-size: 16px;
   line-height: 22px;
   color: #cc7f31;
}
@media (max-width: 991.98px) {
   .small-info-profail__column-info span {
      font-size: 14px;
   }
}
@media (max-width: 991.98px) {
   .small-info-profail__column-info {
      padding: 10px 7px 16px 7px;
      font-size: 16px;
   }
}
@media (max-width: 991.98px) {
   .small-info-profail__status {
      margin-bottom: 10px;
   }
}
.big-info-profail {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.08);
   box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.08);
   border-radius: 4px;
   max-width: 870px;
   margin-bottom: 20px;
}
@media (max-width: 991.98px) {
   .big-info-profail {
      max-width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 0px 8px 20px 8px;
   }
}
.big-info-profail__column-main-info {
   -webkit-box-flex: 0;
   -ms-flex: 0 0 275px;
   flex: 0 0 275px;
   border-right: 1px solid #e0e0e0;
}
@media (max-width: 991.98px) {
   .big-info-profail__column-main-info {
      border: none;
      -webkit-box-flex: 1;
      -ms-flex: auto;
      flex: auto;
   }
}
.big-info-profail__user {
   padding: 24px 14px 20px 14px;
   border-bottom: 1px solid #e0e0e0;
}
@media (max-width: 991.98px) {
   .big-info-profail__user {
      padding: 16px 7px 10px 7px;
   }
}
.big-info-profail__user .user-dialogue__img {
   max-width: 52px;
}
@media (max-width: 991.98px) {
   .big-info-profail__user .user-dialogue__img {
      max-width: 60px;
   }
}
.big-info-profail__user .user-dialogue__name {
   margin: 0px 0px 0px 0px;
}
.big-info-profail__user .user-dialogue__status {
   color: #4f4f4f;
}
.big-info-profail__info {
   padding: 20px 14px;
   font-weight: 600;
   font-size: 16px;
   line-height: 22px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   row-gap: 14px;
}
@media (max-width: 991.98px) {
   .big-info-profail__info {
      padding: 10px 7px;
      row-gap: 8px;
      border-bottom: 1px solid #e0e0e0;
   }
}
.big-info-profail__status span {
   color: #34c85a;
}
.big-info-profail__date-closing span {
   color: #cc7f31;
}
.big-info-profail__date-realization span {
   color: #cc7f31;
}
.big-info-profail__object-order-descr {
   width: 100%;
   padding: 40px 16px 0px 16px;
   margin: 0px 0px 50px 0px;
}
@media (max-width: 991.98px) {
   .big-info-profail__object-order-descr {
      padding: 10px 7px 0px 7px;
      margin: 0px 0px 10px 0px;
   }
}
.big-info-profail__object-order-title {
   font-weight: 600;
   font-size: 16px;
   line-height: 22px;
   margin: 0px 0px 10px 0px;
}
.big-info-profail__object-order-text {
   border: 1px solid #bdbdbd;
   border-radius: 4px;
   padding: 8px 11px 8px 6px;
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
}
.big-info-profail__buttons {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-column-gap: 50px;
   -moz-column-gap: 50px;
   column-gap: 50px;
   margin: 0px 16px 20px 16px;
}
@media (max-width: 1200px) {
   .big-info-profail__buttons {
      -webkit-column-gap: 30px;
      -moz-column-gap: 30px;
      column-gap: 30px;
   }
}
@media (max-width: 767.98px) {
   .big-info-profail__buttons {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0px 0px 16px 0px;
      row-gap: 8px;
   }
}
.big-info-profail__buttons-container {
   font-weight: 600;
   font-size: 14px;
   line-height: 19px;
}
.big-info-profail__button-orange {
   border: none;
   background: #cc7f31;
   -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
   border-radius: 4px;
   color: #ffffff;
   padding: 7px 14px;
}
.big-info-profail__button-orange:active {
   border: none;
}
@media (max-width: 767.98px) {
   .big-info-profail__button-orange {
      min-width: 142px;
   }
}
.big-info-profail__button-red {
   border: none;
   background: #c74a2e;
   -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
   border-radius: 4px;
   color: #ffffff;
   padding: 7px 14px;
}
.big-info-profail__button-red:active {
   border: none;
}
@media (max-width: 767.98px) {
   .big-info-profail__button-red {
      min-width: 142px;
   }
}
.profile-client-tabs {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}
@media (max-width: 991.98px) {
   .profile-client-tabs {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
   }
}
.profile-client-tabs__navigation {
   -webkit-box-flex: 0;
   -ms-flex: 0 0 282px;
   flex: 0 0 282px;
   margin: 0px 30px 0px 0px;
}
@media (max-width: 991.98px) {
   .profile-client-tabs__navigation {
      -webkit-box-flex: 1;
      -ms-flex: auto;
      flex: auto;
      padding: 0px 0px 20px 0px;
      margin: 0px 0px 20px 3px;
      border-bottom: 1px solid #e0e0e0;
   }
}
.profile-client-tabs__title {
   border: none;
   background-color: #fff;
   padding: 15px 9px 15px 12px;
   width: 100%;
   text-align: left;
   font-weight: 400;
   font-size: 16px;
   line-height: 22px;
   color: #000000;
}
.profile-client-tabs__title span {
   color: #c74a2e;
}
@media (max-width: 767.98px) {
   .profile-client-tabs__title {
      padding: 9px 12px;
   }
}
.profile-client-tabs__title._tab-active {
   border-left: 6px solid #c74a2e;
   background: #fff8ea;
}
.profile-client-tabs__title:active {
   border: none;
}
.profile-client-tabs__content {
   -webkit-box-flex: 0;
   -ms-flex: 0 0 870px;
   flex: 0 0 870px;
   margin: 0px 15px 0px 0px;
}
@media (max-width: 1220px) {
   .profile-client-tabs__content {
      -webkit-box-flex: 1;
      -ms-flex: auto;
      flex: auto;
   }
}
@media (max-width: 991.98px) {
   .profile-client-tabs__content {
      margin: 0px 0px 0px 0px;
   }
}
.profile-client-tabs__on-work-item .big-info-profail__status span {
   color: #cc7f31;
}
.profile-client-tabs__complit-order-item
   .small-info-profail__status
   span {
   color: #c74a2e;
}
.profile-client-tabs__safe-transaction-item
   .big-info-profail__status
   span {
   color: #cc7f31;
}
.popup-document {
   display: none;
   font-family: 'Open Sans';
   overflow: auto;
   position: fixed;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.75);
   top: 0;
   left: 0;
}
.popup-document__body {
   min-height: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   margin: 0px 15px;
}
.popup-document__content {
   margin-top: 50px;
   margin-bottom: 50px;
   background-color: #fff;
   max-width: 882px;
}
.popup-document__text {
   font-weight: 400;
   font-size: 16px;
   line-height: 22px;
   padding: 32px 32px 20px 32px;
}
@media (max-width: 767.98px) {
   .popup-document__text {
      padding: 24px 12px 32px 12px;
   }
}
.popup-document__select-text {
   margin: 0px 0px 40px 0px;
   font-weight: 600;
   font-size: 16px;
   line-height: 22px;
   padding: 19px 38px 19px 72px;
   background: #fff8ea;
   max-width: 621px;
   min-height: 60px;
   position: relative;
}
.popup-document__select-text:before {
   content: url(../images/popup/elefant.png);
   position: absolute;
   top: 9px;
   left: 34px;
}
@media (max-width: 991.98px) {
   .popup-document__select-text:before {
      top: 12px;
      left: 10px;
   }
}
@media (max-width: 479.98px) {
   .popup-document__select-text {
      margin: 0px 0px 20px 0px;
      padding: 11px 12px 11px 52px;
   }
}
.popup-document__action {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   margin: 0px 32px 35px 32px;
}
@media (max-width: 767.98px) {
   .popup-document__action {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      row-gap: 32px;
      margin: 0px 12px 24px 12px;
   }
}
@media (max-width: 370px) {
   .popup-document__action {
      row-gap: 0px;
   }
}
.popup-document__signature {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-column-gap: 32px;
   -moz-column-gap: 32px;
   column-gap: 32px;
}
@media (max-width: 767.98px) {
   .popup-document__signature {
      -webkit-column-gap: 15px;
      -moz-column-gap: 15px;
      column-gap: 15px;
   }
}
@media (max-width: 370px) {
   .popup-document__signature {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      row-gap: 40px;
   }
}
.popup-document__kep {
   border: none;
   font-weight: 400;
   font-size: 16px;
   line-height: 22px;
   color: #ffffff;
   background: #c74a2e;
   border-radius: 4px;
   padding: 11px 21px;
}
.popup-document__kep:active {
   border: none;
}
@media (max-width: 767.98px) {
   .popup-document__kep {
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      padding: 8px 12px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 134px;
      flex: 0 0 134px;
   }
}
@media (max-width: 767.98px) {
   .popup-document__diy {
      min-width: 36px;
   }
}
@media (max-width: 767.98px) {
   .popup-document__privat {
      min-width: 35px;
   }
}
@media (max-width: 767.98px) {
   .popup-document__oshad {
      min-width: 72px;
   }
}
.popup-document__prinymail {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-column-gap: 20px;
   -moz-column-gap: 20px;
   column-gap: 20px;
   text-align: right;
   -webkit-box-pack: end;
   -ms-flex-pack: end;
   justify-content: flex-end;
}
@media (max-width: 370px) {
   .popup-document__prinymail {
      margin: -40px 20px 0px 0px;
   }
}
.popup-registration {
   display: none;
   font-family: 'Open Sans';
   overflow: auto;
   position: fixed;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.75);
   top: 0;
   left: 0;
   -webkit-box-ordinal-group: 11;
   -ms-flex-order: 10;
   order: 10;
}
.popup-registration a,
.popup-registration a:hover,
.popup-registration a:active {
   text-decoration: none !important;
}
.popup-registration__body {
   min-height: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   margin: 0px 15px;
}
.popup-registration__content {
   padding: 52px 47px;
   background-color: #fff;
   max-width: 526px;
   max-height: 683px;
   width: 100%;
}
@media (max-width: 550px) {
   .popup-registration__content {
      padding: 42px 12px;
   }
}
@media (max-width: 370px) {
   .popup-registration__content {
      max-height: 710px;
   }
}
.popup-registration__title {
   font-weight: 700;
   font-size: 22px;
   line-height: 30px;
   margin-bottom: 48px;
}
@media (max-width: 550px) {
   .popup-registration__title {
      text-align: center;
      font-size: 18px;
   }
}
.popup-registration__item-email {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   margin-bottom: 32px;
   position: relative;
}
.popup-registration__item-email::after {
   display: none;
   content: url(../images/registration/done-email.png);
   position: absolute;
   top: 40px;
   right: 20px;
}
.popup-registration__label {
   font-weight: 600;
   font-size: 14px;
   line-height: 19px;
   margin-bottom: 8px;
}
.popup-registration__emaill {
   border: 1px solid #d6d6d6;
   border-radius: 4px;
   height: 48px;
   padding: 15px 50px 15px 15px;
   font-weight: 600;
   font-size: 14px;
   line-height: 19px;
   color: #333333;
}
.popup-registration__emaill::-webkit-input-placeholder {
   font-weight: 600;
   font-size: 14px;
   line-height: 19px;
   color: #bdbdbd;
}
.popup-registration__emaill::-moz-placeholder {
   font-weight: 600;
   font-size: 14px;
   line-height: 19px;
   color: #bdbdbd;
}
.popup-registration__emaill:-ms-input-placeholder {
   font-weight: 600;
   font-size: 14px;
   line-height: 19px;
   color: #bdbdbd;
}
.popup-registration__emaill::-ms-input-placeholder {
   font-weight: 600;
   font-size: 14px;
   line-height: 19px;
   color: #bdbdbd;
}
.popup-registration__emaill::placeholder {
   font-weight: 600;
   font-size: 14px;
   line-height: 19px;
   color: #bdbdbd;
}
.popup-registration__emaill:active {
   border: none !important;
}
.popup-registration__item-password {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   margin-bottom: 8px;
   position: relative;
}
.popup-registration__item-password .passwor-see-svg {
   display: none;
   position: absolute;
   top: 41px;
   right: 20px;
}
.popup-registration__item-password .passwor-dont-see-svg {
   position: absolute;
   top: 44px;
   right: 20px;
}
.popup-registration__password {
   border: 1px solid #d6d6d6;
   border-radius: 4px;
   height: 48px;
   padding: 15px 50px 15px 15px;
   font-weight: 600;
   font-size: 14px;
   line-height: 19px;
   color: #333333;
}
.popup-registration__password::-webkit-input-placeholder {
   font-weight: 600;
   font-size: 14px;
   line-height: 19px;
   color: #bdbdbd;
}
.popup-registration__password::-moz-placeholder {
   font-weight: 600;
   font-size: 14px;
   line-height: 19px;
   color: #bdbdbd;
}
.popup-registration__password:-ms-input-placeholder {
   font-weight: 600;
   font-size: 14px;
   line-height: 19px;
   color: #bdbdbd;
}
.popup-registration__password::-ms-input-placeholder {
   font-weight: 600;
   font-size: 14px;
   line-height: 19px;
   color: #bdbdbd;
}
.popup-registration__password::placeholder {
   font-weight: 600;
   font-size: 14px;
   line-height: 19px;
   color: #bdbdbd;
}
.popup-registration__password:active {
   border: 1px solid #d6d6d6 !important;
}
.popup-registration__row-remember-forgot {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   margin-bottom: 40px;
}
.popup-registration__row-remember-forgot span {
   margin: 0px 0px 0px 0px;
   font-weight: 600;
   font-size: 14px;
   line-height: 19px;
   color: #000000;
}
.popup-registration__checkbox {
   display: none;
}
.popup-registration
   .popup-registration__checkbox:checked
   + .popup-registration__cheklabel::after {
   -webkit-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transition: all 0.3s ease 0s;
   -o-transition: all 0.3s ease 0s;
   transition: all 0.3s ease 0s;
}
.popup-registration__cheklabel {
   min-width: 150px;
   font-weight: 600;
   font-size: 14px;
   line-height: 19px;
   display: -webkit-inline-box;
   display: -ms-inline-flexbox;
   display: inline-flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   position: relative;
   cursor: pointer;
}
@media (max-width: 550px) {
   .popup-registration__cheklabel {
      font-size: 12px;
   }
}
.popup-registration__cheklabel::before {
   content: '';
   -webkit-box-flex: 0;
   -ms-flex: 0 0 20px;
   flex: 0 0 20px;
   -ms-flex-item-align: start;
   align-self: flex-start;
   height: 20px;
   border: 1px solid #c74a2e;
   border-radius: 2px;
   margin: 0px 4px 0px 0px;
}
.popup-registration__cheklabel::after {
   content: '';
   width: 10px;
   height: 10px;
   position: absolute;
   top: 5px;
   left: 5px;
   background: #c74a2e;
   border-radius: 2px;
   -webkit-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: all 0.3s ease 0s;
   -o-transition: all 0.3s ease 0s;
   transition: all 0.3s ease 0s;
}
.popup-registration__forgot {
   font-weight: 600;
   font-size: 14px;
   line-height: 19px;
}
.popup-registration__forgot a,
.popup-registration__forgot a:hover,
.popup-registration__forgot a:active {
   color: #c74a2e !important;
}
.popup-registration__item-button {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   margin-bottom: 40px;
}
.popup-registration__button {
   cursor: pointer;
   padding: 13px 0px;
   -webkit-box-flex: 1;
   -ms-flex: 1 1 432px;
   flex: 1 1 432px;
   background: #c74a2e;
   border-radius: 4px;
   font-weight: 400;
   font-size: 18px;
   line-height: 25px;
   color: #ffffff;
   border: none;
}
.popup-registration__button:active {
   border: none;
}
.popup-registration__or {
   font-weight: 400;
   font-size: 16px;
   line-height: 22px;
   text-align: center;
   margin-bottom: 40px;
}
.popup-registration__list-login {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-column-gap: 12px;
   -moz-column-gap: 12px;
   column-gap: 12px;
   margin-bottom: 32px;
}
@media (max-width: 550px) {
   .popup-registration__list-login {
      -webkit-column-gap: 9px;
      -moz-column-gap: 9px;
      column-gap: 9px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
   }
}
.popup-registration__login-fb {
   font-weight: 600;
   font-size: 16px;
   line-height: 22px;
   color: #ffffff;
   background: #3679ea;
   border-radius: 4px;
   -webkit-box-flex: 0;
   -ms-flex: 0 1 210px;
   flex: 0 1 210px;
   padding: 14px 0px 14px 41px;
   position: relative;
}
.popup-registration__login-fb a,
.popup-registration__login-fb a:hover {
   color: #fff !important;
}
@media (max-width: 479.98px) {
   .popup-registration__login-fb {
      font-size: 14px;
      padding: 17px 6px 15px 25px;
      text-align: center;
   }
}
@media (max-width: 370px) {
   .popup-registration__login-fb {
      font-size: 10px;
   }
}
.popup-registration__login-fb::before {
   content: url(../images/registration/fb.png);
   position: absolute;
   top: 14px;
   left: 14px;
}
@media (max-width: 479.98px) {
   .popup-registration__login-fb::before {
      left: 7px;
      top: 16px;
   }
}
.popup-registration__login-google {
   -webkit-box-flex: 0;
   -ms-flex: 0 1 210px;
   flex: 0 1 210px;
   font-weight: 600;
   font-size: 16px;
   line-height: 22px;
   border: 1px solid #e0e0e0;
   padding: 14px 0px 14px 52px;
   position: relative;
}
.popup-registration__login-google a,
.popup-registration__login-google a:hover,
.popup-registration__login-google a:active {
   color: #000000 !important;
}
@media (max-width: 479.98px) {
   .popup-registration__login-google {
      padding: 15px 0px 15px 35px;
      font-size: 14px;
   }
}
@media (max-width: 370px) {
   .popup-registration__login-google {
      font-size: 10px;
   }
}
.popup-registration__login-google::before {
   content: url(../images/registration/google.png);
   position: absolute;
   top: 16px;
   left: 30px;
}
@media (max-width: 479.98px) {
   .popup-registration__login-google::before {
      left: 7px;
   }
}
.popup-registration__no-account {
   text-align: center;
   font-weight: 600;
   font-size: 14px;
   line-height: 19px;
   color: #000000;
}
.popup-registration__no-account a,
.popup-registration__no-account a:hover,
.popup-registration__no-account a:active {
   color: #b04e35;
   font-weight: 700;
}
@media (max-width: 479.98px) {
   .popup-registration__no-account {
      margin-bottom: 20px;
   }
}
.error-reg-form .popup-registration__emaill {
   background: rgba(199, 74, 46, 0.18);
}
.error-reg-form .popup-registration__password {
   background: rgba(199, 74, 46, 0.18);
}
.error-reg-form .error-text {
   display: block !important;
   padding: 4px 0px 0px 2px;
   font-weight: 600;
   font-size: 10px;
   line-height: 14px;
   color: #c74a2e;
}
.error-reg-form .passwor-see-svg path {
   fill: #c74a2e;
}
.error-reg-form .passwor-dont-see-svg path {
   fill: #c74a2e;
}
.min-symbol-reg-form .min-symbol-text {
   display: block !important;
   font-weight: 600;
   font-size: 10px;
   line-height: 14px;
   color: #828282;
   padding: 2px 0px 0px 2px;
}
.done-reg-form .popup-registration__item-email::after {
   display: block;
}
.done-reg-form .popup-registration__emaill {
   background: #e8f0fe;
}
.done-reg-form .popup-registration__password {
   background: #e8f0fe;
}
.see-password .passwor-see-svg {
   display: block;
}
.see-password .passwor-dont-see-svg {
   display: none;
}
.call-review {
   font-family: 'Open Sans';
}
@media (max-width: 575.98px) {
   .call-review__content {
      width: 375px;
      height: 525px;
      padding: 15px;
   }
}
@media (max-width: 575.98px) {
   .call-review__title {
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;
      max-width: none;
      margin-bottom: 40px;
   }
}
@media (max-width: 575.98px) {
   .call-review__list {
      padding: 0px 0px 0px 0px;
   }
}
.call-review__radio-custom {
   font-weight: 400;
   line-height: 27px;
}
@media (max-width: 575.98px) {
   .call-review__radio-custom {
      font-size: 20px;
      width: 30px;
      height: 30px;
   }
}
@media (max-width: 575.98px) {
   .call-review__btn-desc-wrap {
      margin-bottom: 32px;
   }
}
@media (max-width: 575.98px) {
   .call-review__btn-desc {
      font-size: 10px;
   }
}
@media (max-width: 575.98px) {
   .call-review__label {
      font-size: 16px;
   }
}
@media (max-width: 575.98px) {
   .call-review__input-wrap {
      margin-bottom: 32px;
   }
}
@media (max-width: 575.98px) {
   .call-review__input {
      font-size: 14px;
      height: 170px;
   }
}
.call-review__btn {
   font-size: 14px !important;
}
@media (max-width: 575.98px) {
   .call-review__btn {
      padding: 14px 59px;
   }
}
