@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "icon";
  src: url("../fonts/icons/fonts/icon.ttf?3demzx") format("truetype"),
    url("../fonts/icons/fonts/icon.woff?3demzx") format("woff"),
    url("../fonts/icons/fonts/icon.svg?3demzx#icon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  font-family: "icon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
  content: "";
}

.icon-clock:before {
  content: "";
}

.icon-google .path1:before {
  content: "";
  color: #4285f4;
}

.icon-google .path2:before {
  content: "";
  margin-left: -1em;
  color: #34a853;
}

.icon-google .path3:before {
  content: "";
  margin-left: -1em;
  color: #fbbc05;
}

.icon-google .path4:before {
  content: "";
  margin-left: -1em;
  color: #ea4335;
}

.icon-arrow:before {
  content: "";
}

.icon-calendar:before {
  content: "";
}

.icon-calls:before {
  content: "";
}

.icon-close:before {
  content: "";
}

.icon-consultations:before {
  content: "";
}

.icon-elephant:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-phone-call:before {
  content: "";
}

.icon-printer:before {
  content: "";
}

.icon-publications:before {
  content: "";
}

.icon-rating:before {
  content: "";
}

.icon-refresh:before {
  content: "";
}

.icon-save:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-secure-transactions:before {
  content: "";
}
.btn-temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
  border-radius: 4px;
  font-size: 18px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.btn-orange {
  color: #fff;
  background: #cc7f31 !important;
  padding: 10px 40px !important;
}
.btn-red {
  color: #fff;
  background: #c74a2e !important;
  padding: 10px 40px !important;
}
.btn-red:disabled {
  opacity: 0.75;
}

.article {
  height: 100%;
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  color: #000;
  overflow-x: hidden;
}
.article::after,
.article::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
.article img {
  max-width: 100%;
  display: block;
}
.article input,
.article button,
.article textarea,
.article select {
  font: inherit;
  outline: none;
}
.new-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
  height: 100%;
}

.article a {
  text-decoration: none;
  color: inherit;
}
.article a :focus {
  outline: none;
  text-decoration: none;
  color: inherit;
}
.article button,
.article input {
  border: unset;
}
.article input,
.article textarea {
  border: unset;
  background: transparent;
}
.article button {
  background: transparent;
  padding: unset;
  cursor: pointer;
}
.article input,
.article textarea {
  font-family: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
.article textarea {
  resize: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 0px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 0px;
}

.hidden {
  display: none;
}

.article {
  font-size: 14px;
  padding-top: 30px;
  padding-bottom: 40px;
}
@media (max-width: 767.98px) {
  .article {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.article-without-advertising .article-hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.article-without-advertising .article-hero__sidebar,
.article-without-advertising .article-hero__img--hidden,
.article-without-advertising .article-hero__btn--hidden {
  display: none;
}

.article-without-advertising .article-hero__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.article-without-advertising .article-hero__img {
  width: 300px;
  height: 300px;
}

.article-hero {
  margin-bottom: 32px;
}

@media (max-width: 575.98px) {
  .article-hero {
    margin-bottom: 24px;
  }
}

.article-hero__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 25.65%;
  grid-template-columns: 1fr 25.65%;
  gap: 25px;
}

@media (max-width: 767.98px) {
  .article-hero__content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 767.98px) {
  .article-hero__info {
    grid-column: 1/-1;
  }
}

.article-hero__info-inner {
  max-width: 740px;
}

@media (max-width: 990.98px) {
  .article-hero__info-inner {
    max-width: 100%;
  }
}

.article-hero__main-title {
  font-size: 20px;
  font-weight: 600;
  max-width: 790px;
  margin-bottom: 32px;
}

@media (max-width: 990.98px) {
  .article-hero__main-title {
    max-width: 100%;
  }
}

@media (max-width: 575.98px) {
  .article-hero__main-title {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

.article-hero__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 25px !important;
}
ul.article-hero__details,
ul.article-hero__social-list,
ul.article-video__social,
ul.article-video__advice-list,
ul.article-news__list,
ul.article-video__keep {
  list-style: none;
  padding: 0;
  /* margin: 0; */
}
.article-video__response-title {
  margin-bottom: 0;
  font-weight: normal;
}
.article-news__item p,
.article-hero__details-item p,
.article-video__advice-desc p,
.article-news__title,
.article-hero__desc {
  margin-bottom: unset;
}

@media (max-width: 575.98px) {
  .article-hero__details {
    gap: 16px;
    font-size: 16px;
  }
}

.article-hero__details-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

@media (max-width: 575.98px) {
  .article-hero__details-item--order1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-right: 100%;
  }

  .article-hero__details-item--order2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}

.article-hero__details-title {
  font-weight: 600;
}

.article-hero__details-date-icon {
  font-size: 20px;
  margin-right: 5px;
  color: #000;
}

.article-hero__details-desc {
  color: #c74a2e;
}

.article-hero__details-elephant-icon {
  position: relative;
  color: #c74a2e;
  padding-left: 35px;
}

.article-hero__details-elephant-icon::before {
  position: absolute;
  bottom: -2px;
  left: 0;
  font-size: 30px;
}

.article-hero__details-btn {
  font-size: 14px;
  font-weight: 400;
  padding: 5px 30px;
  border-radius: 70px;
}

.article-hero__btn {
  font-size: 14px;
  font-weight: 400;
  padding: 11px 20px !important;
}

.article-hero__btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 25px;
}

@media (max-width: 575.98px) {
  .article-hero__btn-wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
  }
}

.article-hero__btn--red2 {
  background-color: #ea5736 !important;
}

@media (max-width: 575.98px) {
  .article-hero__btn {
    width: 100%;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
  }
}

.article-hero__social {
  margin-bottom: 32px;
}

.article-hero__social-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

@media (max-width: 575.98px) {
  .article-hero__social-title {
    font-size: 16px;
    margin-bottom: 16px;
  }
}

.article-hero__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  margin-bottom: unset;
}

@media (max-width: 575.98px) {
  .article-hero__social-list {
    gap: 16px;
  }
}

.article-hero__social-item--fb .article-hero__social-icon {
  background-image: url("../images/facebook.png");
}

.article-hero__social-item--fb .article-hero__social-link {
  border-color: #0781dd;
}

.article-hero__social-item--tg .article-hero__social-icon {
  background-image: url("../images/telegram.png");
}

.article-hero__social-item--tg .article-hero__social-link {
  border-color: #0f8cdc;
}

.article-hero__social-item--viber .article-hero__social-icon {
  background-image: url("../images/viber.png");
}

.article-hero__social-item--viber .article-hero__social-link {
  border-color: #7e57c2;
}

.article-hero__social-item--youtube .article-hero__social-icon {
  background-image: url("../images/youtube.png");
}

.article-hero__social-item--youtube .article-hero__social-link {
  border-color: #e53935;
}

.article-hero__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  width: 132px;
  padding: 4px 0;
  border: 1px solid #c74a2e;
  border-radius: 70px;
}

.article-hero__social-icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.article-hero__img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
}

.article-hero__img-wrap {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 991.98px) {
  .article-hero__img-wrap {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 1024.98px) and (min-width: 767.98px) {
  .article-hero__img {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 767.98px) {
  .article-hero__img--hidden {
    display: none;
  }
}

.article-hero__sidebar {
  width: 300px;
  margin-top: 10px;
  -ms-grid-column-align: center;
  justify-self: center;
}

.article-hero__advertising {
  width: 100%;
  padding-bottom: 200%;
  background: url("../images/article-banner.jpg") no-repeat center/cover;
  -o-object-fit: cover;
  object-fit: cover;
}

.article-hero__desc {
  text-indent: 15px;
  font-size: 18px;
}

.article-hero__desc-wrap {
  grid-column: 1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 767.98px) and (min-width: 575.98px) {
  .article-hero__desc-wrap {
    /* grid-column: 1 / auto;
    -ms-grid-row: 2;
    grid-row-start: 2; */
  }
}

@media (max-width: 575.98px) {
  .article-hero__desc {
    font-size: 16px;
  }
}

.article-hero__desc-link {
  color: #1a67ae !important;
}

.article-video {
  margin-bottom: 60px;
}

@media (max-width: 575.98px) {
  .article-video {
    margin-bottom: 32px;
  }
}

.article-video__video {
  max-width: 670px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 37px;
}

.article-video__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px 20px;
  margin-bottom: 65px;
}

@media (max-width: 1199.98px) {
  .article-video__info {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 32px;
  }
}

.article-video__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  margin-right: auto;
  margin-bottom: unset;
}

@media (max-width: 575.98px) {
  .article-video__social {
    margin-right: 0;
    gap: 6px;
  }
}

.article-video__social-icon {
  width: 34px;
  height: 34px;
  -o-object-fit: contain;
  object-fit: contain;
}

@media (max-width: 575.98px) {
  .article-video__social-icon {
    margin-right: 0;
    gap: 6px;
    width: 30px;
    height: 30px;
  }
}

.article-video__rating {
  -ms-flex-item-align: end;
  align-self: flex-end;
  position: relative;
  font-size: 20px;
  padding-left: 50px;
  color: #c74a2e;
}

@media (max-width: 575.98px) {
  .article-video__rating {
    padding-left: 35px;
  }
}

@media (max-width: 374.98px) {
  .article-video__rating {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
  }
}

.article-video__rating-elephant {
  position: absolute;
  bottom: 0px;
  left: 0;
  font-size: 45px;
}

@media (max-width: 575.98px) {
  .article-video__rating-elephant {
    font-size: 32px;
  }
}

.article-video__btn {
  font-size: 16px;
  font-weight: 400;
  padding: 9px 20px;
}

.article-video__btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
}

@media (max-width: 1199.98px) {
  .article-video__btn-wrap {
    gap: 16px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .article-video__btn-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 575.98px) {
  .article-video__btn {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

@media (max-width: 575.98px) {
  .article-video__btn {
    font-size: 14px;
    width: 183px;
  }

  .article-video__btn--hide {
    display: none;
  }
}

@media (min-width: 575.98px) {
  .article-video__btn--apperance {
    display: none;
  }
}

.article-video__btn-text {
  position: relative;
  padding-left: 40px;
}

.article-video__btn-elephant {
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}

@media (max-width: 575.98px) {
  .article-video__btn-elephant {
    font-size: 28px;
  }
}

.article-video__keep {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
}

@media (max-width: 575.98px) {
  .article-video__keep {
    gap: 10px;
  }
}

.article-video__keep-btn {
  font-size: 44px !important;
  color: #c74a2e;
}

@media (max-width: 575.98px) {
  .article-video__keep-btn {
    font-size: 32px !important;
  }
}

.article-video__advice {
  font-size: 18px;
  padding: 24px;
  margin-bottom: 60px;
  background-color: #fff8ea;
}

@media (max-width: 575.98px) {
  .article-video__advice {
    font-size: 16px;
    padding: 24px 15px;
    margin-bottom: 32px;
    margin-left: -15px;
    margin-right: -15px;
  }
}

.article-video__advice-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
}

@media (max-width: 575.98px) {
  .article-video__advice-title {
    margin-bottom: 20px;
  }
}

.article-video__advice-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 18px;
}

@media (max-width: 575.98px) {
  .article-video__advice-list {
    gap: 12px;
  }
}
.article-video__advice-desc {
  margin-bottom: unset;
}
.article-video__advice-desc--tell {
  font-weight: 600;
  color: #c74a2e;
  margin-bottom: unset;
}

.article-video__response {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 12px;
}

@media (max-width: 575.98px) {
  .article-video__response {
    gap: 20px;
  }
}

@media (max-width: 575.98px) {
  .article-video__response-title {
    font-size: 16px;
  }
}

.article-video__response-textarea {
  -webkit-transition: border-color 0.2s ease-in-out;
  -o-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
  padding: 8px;
  background-color: #f9f9f9 !important;
  border: 1px solid #bdbdbd !important;
  color: #333;
}

.article-video__response-textarea::-webkit-input-placeholder {
  color: #bdbdbd;
}

.article-video__response-textarea::-moz-placeholder {
  color: #bdbdbd;
}

.article-video__response-textarea:-ms-input-placeholder {
  color: #bdbdbd;
}

.article-video__response-textarea::-ms-input-placeholder {
  color: #bdbdbd;
}

.article-video__response-textarea::placeholder {
  color: #bdbdbd;
}

.article-video__response-textarea:focus {
  border-color: #cc7f31;
}

.article-video__response-btn {
  font-size: 16px;
  padding: 9px 20px !important;
  font-weight: 400;
  margin-left: auto;
}

@media (max-width: 575.98px) {
  .article-video__response-btn {
    font-size: 14px;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    margin: 0 auto;
    font-size: 14px;
  }
}

.article-news {
  margin-bottom: 42px;
}

.article-news__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
}

@media (max-width: 575.98px) {
  .article-news__head {
    margin-bottom: 20px;
  }
}

.article-news__title {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

@media (max-width: 575.98px) {
  .article-news__title {
    font-size: 18px;
  }
}

.article-news__view-more {
  font-weight: 600;
  text-decoration: underline !important;
  color: #cc7f31 !important;
}

@media (max-width: 575.98px) {
  .article-news__view-more-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 575.98px) {
  .article-news__view-more--hidden {
    display: none;
  }
}

@media (min-width: 576.98px) {
  .article-news__view-more--apperance {
    display: none;
  }
}

.article-news__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto, 540px)) [2];
  grid-template-columns: repeat(2, minmax(auto, 540px));
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 28px 10px;
  margin-bottom: unset;
}

@media (max-width: 767.98px) {
  .article-news__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 28px;
    margin-bottom: 32px;
  }
}

.article-news__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.article-news__item::after {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}

.article-news__item:nth-child(odd)::after {
  width: calc(100% + 100px);
}

@media (max-width: 991.98px) {
  .article-news__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 8px;
  }
}

@media (max-width: 767.98px) {
  .article-news__item::after {
    bottom: -12px;
  }

  .article-news__item:nth-child(odd)::after {
    width: 100%;
  }
}

.article-news__item-img {
  width: 180px;
  height: 140px;
  border-radius: 4px;
  -o-object-fit: cover;
  object-fit: cover;
}

@media (max-width: 991.98px) {
  .article-news__item-img {
    width: 100%;
    height: 300px;
  }
}

@media (max-width: 575.98px) {
  .article-news__item-img {
    height: 140px;
  }
}

.article-news__item-content {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.article-news__item-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px !important;
}

@media (max-width: 575.98px) {
  .article-news__item-title {
    margin-bottom: 12px !important;
  }
}

.article-news__item-author-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 5px;
}

@media (max-width: 575.98px) {
  .article-news__item-author-wrap {
    margin-bottom: 16px;
  }
}

.article-news__item-author-title {
  font-weight: 600;
}

.article-news__item-author-name {
  color: #c74a2e;
}

.article-news__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
}

.article-news__item-info-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.article-news__item-info-desc {
  color: #c74a2e;
}

.article-news__item-date-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.article-news__item-date-icon {
  font-size: 18px;
  margin-right: 8px;
  color: #828282;
}
