.our-services {
   border: 1px solid #c74a2e;
   border-radius: 4px;
}
.our-services__title {
   margin: -1px;
   border-radius: 4px;
   text-transform: uppercase;
   font-size: 18px;
   font-weight: 600;
   padding: 18px;
   padding-left: 16px;
   color: #fff;
   background-color: #c74a2e;
}
.our-services__list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   gap: 17px;
   padding: 16px;
   color: #000;
}
@media (max-width: 575.98px) {
   .our-services__list {
      padding: 6px;
      gap: 10px;
      padding-bottom: 15px;
   }
}
.our-services__item {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: start;
   -ms-flex-align: start;
   align-items: flex-start;
}
.our-services__item-arrow {
   position: relative;
   top: 7px;
   font-size: 8px;
   color: #333;
   margin-right: 8px;
}
.our-services__item-title {
   display: inline-block;
   font-size: 16px;
   font-weight: 400;
   text-transform: uppercase;
   margin-bottom: 4px;
   color: #c74a2e;
}
.our-services__item-desc {
   font-size: 14px;
}
@media (max-width: 575.98px) {
   .our-services__item-desc {
      font-size: 12px;
   }
}

.small-slide {
   max-width: 260px;
   min-height: 280px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   width: 260px;
}
.small-slide__title {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   text-align: center;
   font-size: 16px;
   font-weight: 600;
   padding: 0 2px;
   min-height: 54px;
   color: #fff;
   background-color: #cc7f31;
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;
}
.small-slide__content {
   -webkit-box-flex: 1;
   -ms-flex-positive: 1;
   flex-grow: 1;
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
   position: relative;
   background: url('../images/aside-man.jpg') no-repeat center/cover;
}
.small-slide__date {
   position: absolute;
   top: 6px;
   left: 3px;
}
.small-slide__desc {
   position: absolute;
   bottom: 0;
   left: 0;
   font-size: 16px;
   font-weight: 600;
   padding: 10px 7px;
   background: rgba(255, 255, 255, 0.65);
   border-radius: 4px;
}
.small-slide__btn {
   position: absolute;
   top: 41%;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
   font-size: 0;
   padding: 5px;
   background-color: #e58e13;
   color: #fff;
   border-radius: 50%;
}
.small-slide__btn--prev {
   left: 0;
}
.small-slide__btn--prev .small-slide__icon {
   -webkit-transform: translateX(-2px) rotate(90deg);
   -ms-transform: translateX(-2px) rotate(90deg);
   transform: translateX(-2px) rotate(90deg);
}
.small-slide__btn--next {
   right: 0;
}
.small-slide__btn--next .small-slide__icon {
   -webkit-transform: translateX(2px) rotate(-90deg);
   -ms-transform: translateX(2px) rotate(-90deg);
   transform: translateX(2px) rotate(-90deg);
}
.small-slide__icon {
   display: inline-block;
   font-size: 24px;
}

/* -------------------------------------------------- */

.new-list-lawyer {
   font-family: 'Open Sans';
}
.new-list-lawyer a:hover {
   text-decoration: none;
}
.new-list-lawyer .active-quest .lawyers-found__request {
   background: #efefef !important;
   border-color: #efefef !important;
   color: #000 !important;
}
.new-list-lawyer .active-quest .lawyers-found__cancel {
   display: -webkit-box !important;
   display: -ms-flexbox !important;
   display: flex !important;
}
.new-list-lawyer .active-quest .lawyers-question {
   display: block;
}
.new-list-lawyer .lawyers-found__btn-question {
   max-height: 34px;
   padding: 10px 0px !important;
   width: 160px;
   font-size: 14px;
}
@media (max-width: 767.98px) {
   .new-list-lawyer .lawyers-found {
      margin: 0px 0px 0px 0px;
   }
}
.new-list-lawyer .lawyers-found__head {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}
@media (max-width: 991.98px) {
   .new-list-lawyer .lawyers-found__head {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
   }
}
@media (max-width: 767.98px) {
   .new-list-lawyer .lawyers-found__head {
      margin-bottom: 32px;
   }
}
.new-list-lawyer .lawyers-found__list-btn {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-column-gap: 20px;
   -moz-column-gap: 20px;
   column-gap: 20px;
}
@media (min-width: 991.98px) {
   .new-list-lawyer .lawyers-found__list-btn {
      -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
   }
}
@media (max-width: 360px) {
   .new-list-lawyer .lawyers-found__list-btn {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      row-gap: 20px;
   }
}
.new-list-lawyer .lawyers-found__title {
   margin-bottom: 30px;
}
.new-list-lawyer .lawyers-found__cancel {
   display: none !important;
}
.new-list-lawyer .lawyers-found__btn-question--desktop {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}
.new-list-lawyer .lawyers-found__btn-question--mobile {
   display: none;
}
.new-list-lawyer .lawyers-question {
   display: none;
   border-bottom: 1px solid #bdbdbd;
   padding-bottom: 40px;
}
@media (max-width: 767.98px) {
   .new-list-lawyer .lawyers-question {
      padding-bottom: 30px;
   }
}
.new-list-lawyer .lawyers-question__direct-question {
   font-weight: 400;
   font-size: 18px;
   line-height: 25px;
   margin: 0px 0px 32px 36px;
   position: relative;
   text-transform: uppercase;
}
@media (max-width: 767.98px) {
   .new-list-lawyer .lawyers-question__direct-question {
      margin: 0px 0px 25px 36px;
   }
}
.new-list-lawyer .lawyers-question__direct-question::before {
   content: url('../images/new-list-lawyers/small-arrow.svg');
   position: absolute;
   top: 2px;
   left: -36px;
}
.new-list-lawyer .lawyers-question__advice {
   min-width: 1300px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-column-gap: 25px;
   -moz-column-gap: 25px;
   column-gap: 25px;
}
@media (max-width: 991.98px) {
   .new-list-lawyer .lawyers-question__advice {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      max-height: none;
      min-width: none;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      row-gap: 32px;
      background-color: #fff;
      min-width: auto;
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 0px;
   }
}
@media (max-width: 400px) {
   .new-list-lawyer .lawyers-question__advice {
      max-width: 300px;
   }
}
.new-list-lawyer .lawyers-question__advice-wrap {
   background: #fff8ea;
}
@media (max-width: 400px) {
   .new-list-lawyer .lawyers-question__advice-wrap {
      margin-left: -20px;
      width: 360px;
      padding: 12px 0px 12px 100px;
   }
   .new-list-lawyer .lawyers-question__advice-wrap::after {
      height: 112px;
      top: 15px;
   }
}
@media (max-width: 400px) and (max-width: 767.98px) {
   .new-list-lawyer .lawyers-question__advice-wrap::after {
      left: 80px;
   }
}
@media (max-width: 400px) and (max-width: 767.98px) {
   .new-list-lawyer .lawyers-question__advice-wrap::before {
      left: 15px;
   }
}
@media (max-width: 360px) {
   .new-list-lawyer .lawyers-question__advice-wrap {
      width: 300px;
   }
}
@media (max-width: 767.98px) {
   .new-list-lawyer .lawyers-question__advice-descr {
      padding-right: 10px;
   }
}
.new-list-lawyer .lawyers-question__long-arrow {
   -ms-flex-item-align: center;
   -ms-grid-row-align: center;
   align-self: center;
}
@media (max-width: 1200px) {
   .new-list-lawyer .lawyers-question__long-arrow {
      display: none;
   }
}
.new-list-lawyer .lawyers-question__temp-check {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   background: #ffffff;
   border: 2px solid #e0e0e0;
   -webkit-box-flex: 0;
   -ms-flex: 0 0 396px;
   flex: 0 0 396px;
   height: 90px;
   position: relative;
   -webkit-transform: translate(0px, -20px);
   -ms-transform: translate(0px, -20px);
   transform: translate(0px, -20px);
}
@media (max-width: 991.98px) {
   .new-list-lawyer .lawyers-question__temp-check {
      -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
      transform: translate(0px, 0px);
      max-height: 90px;
      max-width: 345px;
   }
}
@media (max-width: 767.98px) {
   .new-list-lawyer .lawyers-question__temp-check {
      min-width: 310px;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      margin-left: 20px;
   }
}
@media (max-width: 360px) {
   .new-list-lawyer .lawyers-question__temp-check {
      min-width: auto;
      margin-left: 0;
   }
}
.new-list-lawyer .lawyers-question__temp-check::before {
   content: url('../images/new-list-lawyers/check.png');
   position: absolute;
   top: 19px;
   left: 9px;
}
.new-list-lawyer .lawyers-question__user-img {
   -webkit-box-flex: 0;
   -ms-flex: 0 0 66px;
   flex: 0 0 66px;
   height: 63px;
   margin: 23px 0px 0px 33px;
}
@media (max-width: 767.98px) {
   .new-list-lawyer .lawyers-question__user-img {
      margin: 19px 0px 11px 38px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
      flex: 0 0 60px;
      height: 60px;
   }
}
.new-list-lawyer .lawyers-question__temp-name {
   margin: 30px 0px 0px 12px;
   min-width: 345px;
}
@media (max-width: 767.98px) {
   .new-list-lawyer .lawyers-question__temp-name {
      min-width: auto;
   }
}
.new-list-lawyer .lawyers-question__title {
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
}
.new-list-lawyer .lawyers-question__title::before {
   width: 36px;
   height: 42px;
}
.new-list-lawyer .lawyers-question__message-nav {
   -webkit-column-gap: 0px;
   -moz-column-gap: 0px;
   column-gap: 0px;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}
@media (max-width: 991.98px) {
   .new-list-lawyer .lawyers-question__list-btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      row-gap: 20px;
   }
}
.new-list-lawyer .lawyers-question__btn-send-to-selected {
   margin-right: 20px;
}
@media (max-width: 991.98px) {
   .new-list-lawyer .lawyers-question__btn-send-to-selected {
      margin-right: 0px;
   }
}
@media (max-width: 991.98px) {
   .new-list-lawyer .lawyers-question__btn-sunmit-first {
      min-width: 260px;
   }
}
.new-list-lawyer .lawyers-question__btn--voice {
   margin-right: 20px;
}
@media (max-width: 767.98px) {
   .new-list-lawyer .lawyers-question__btn--voice {
      margin-right: 0;
   }
}
.new-list-lawyer .aside-container {
   width: 280px;
   margin-right: 20px;
}
.new-list-lawyer .search-by-lawyer {
   margin-bottom: 60px;
}
.new-list-lawyer .our-services__title {
   padding: 27px 0px;
   font-size: 20px;
   text-align: center;
}
@media (max-width: 1200.98px) {
   .new-list-lawyer .our-services__title {
      padding: 27px 0px;
   }
}
.new-list-lawyer .our-services__list {
   margin: 16px 5px 16px 5px;
   padding: 0px !important;
}
.new-list-lawyer .our-services__list a {
   color: #c74a2e;
   width: 100%;
}
.new-list-lawyer .decree__our-services {
   margin-bottom: 60px;
}
@media (max-width: 991.98px) {
   .new-list-lawyer .decree__our-services {
      display: none;
   }
}
.new-list-lawyer .decree__our-services .our-services__item-desc {
   font-size: 12px;
}
.new-list-lawyer .decree-hero__our-services_mobile {
   display: none;
}
@media (max-width: 991.98px) {
   .new-list-lawyer .decree-hero__our-services_mobile {
      display: block;
      margin-bottom: 50px;
   }
}
.new-list-lawyer .decree__slides-small-slide {
   margin-bottom: 32px;
}
@media (max-width: 991.98px) {
   .new-list-lawyer .decree__slides {
      display: none;
   }
}
.new-list-lawyer .small-slide__title {
   margin: 0px 0px 0px 0px;
}
.new-list-lawyer .decree__slides {
   -webkit-box-align: start;
   -ms-flex-align: start;
   align-items: start;
}
.new-list-lawyer .small-slide__btn {
   background: #e58e13;
}
.new-list-lawyer .decree-hero__slides_mobile {
   display: none;
}
@media (max-width: 991.98px) {
   .new-list-lawyer .decree-hero__slides_mobile {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-column-gap: 30px;
      -moz-column-gap: 30px;
      column-gap: 30px;
   }
}
