@font-face {
   font-family: 'Open Sans';
   src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
      url('../fonts/OpenSans-Bold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Roboto Condensed';
   src: url('../fonts/RobotoCondensed-Regular.woff2') format('woff2'),
      url('../fonts/RobotoCondensed-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Open Sans';
   src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
      url('../fonts/OpenSans-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Roboto';
   src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
      url('../fonts/Roboto-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Open Sans';
   src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
      url('../fonts/OpenSans-SemiBold.woff') format('woff');
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'icon';
   src: url('../fonts/icons/fonts/icon.ttf?lao83w') format('truetype'),
      url('../fonts/icons/fonts/icon.woff?lao83w') format('woff'),
      url('../fonts/icons/fonts/icon.svg?lao83w#icon') format('svg');
   font-weight: normal;
   font-style: normal;
   font-display: block;
}

.icon {
   font-family: 'icon' !important;
   speak: never;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.icon-minus-circle:before {
   content: '';
}

.icon-plus-circle:before {
   content: '';
}

.icon-new:before {
   content: '';
}

.icon-triangle-round:before {
   content: '';
}

.icon-long-arrow:before {
   content: '';
}

.icon-doc-print:before {
   content: '';
}

.icon-comment-text:before {
   content: '';
}

.icon-eye:before {
   content: '';
}

.icon-star:before {
   content: '';
}

.icon-clock:before {
   content: '';
}

.icon-google .path1:before {
   content: '';
   color: #4285f4;
}

.icon-google .path2:before {
   content: '';
   margin-left: -1em;
   color: #34a853;
}

.icon-google .path3:before {
   content: '';
   margin-left: -1em;
   color: #fbbc05;
}

.icon-google .path4:before {
   content: '';
   margin-left: -1em;
   color: #ea4335;
}

.icon-arrow:before {
   content: '';
}

.icon-calendar:before {
   content: '';
}

.icon-calls:before {
   content: '';
}

.icon-close:before {
   content: '';
}

.icon-consultations:before {
   content: '';
}

.icon-elephant:before {
   content: '';
}

.icon-facebook:before {
   content: '';
}

.icon-phone-call:before {
   content: '';
}

.icon-printer:before {
   content: '';
}

.icon-publications:before {
   content: '';
}

.icon-refresh:before {
   content: '';
}

.icon-save:before {
   content: '';
}

.icon-search:before {
   content: '';
}

.icon-secure-transactions:before {
   content: '';
}

.icon-triangle:before {
   content: '';
}
.safe-transaction {
   font-family: 'Open Sans';
   margin-top: 50px;
}
.safe-transaction .section {
   margin-bottom: 120px;
}
@media (max-width: 991.98px) {
   .safe-transaction .section {
      margin-bottom: 60px;
   }
}
.safe-transaction .head .descrandimg {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}
@media (max-width: 991.98px) {
   .safe-transaction .head .descrandimg {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
   }
}
.safe-transaction .head .descrandimg__img {
   max-width: 605px;
}
@media (max-width: 991.98px) {
   .safe-transaction .head .descrandimg__img {
      margin: 0px 18px 30px 18px;
   }
}
.safe-transaction .head .descrandimg__img img {
   width: 100%;
   min-height: 230px;
}
@media (max-width: 360.98px) {
   .safe-transaction .head .descrandimg__img img {
      min-height: 100%;
   }
}
.safe-transaction .head .descr {
   font-family: 'Open Sans';
   max-width: 470px;
   margin-right: 20px;
   margin-top: 50px;
}
@media (max-width: 1200px) {
   .safe-transaction .head .descr {
      margin: 0;
   }
}
@media (max-width: 991.98px) {
   .safe-transaction .head .descr {
      max-width: 100%;
      padding-bottom: 20px;
   }
}
.safe-transaction .head .descr__title {
   font-family: 'Open Sans';
   font-weight: 700;
   font-size: 38px;
   line-height: 52px;
   margin-bottom: 80px;
   margin-left: 15px;
}
@media (max-width: 1024.98px) {
   .safe-transaction .head .descr__title {
      margin-bottom: 50px;
   }
}
@media (max-width: 991.98px) {
   .safe-transaction .head .descr__title {
      text-align: center;
      margin-bottom: 35px;
      font-size: 30px;
      line-height: 41px;
      margin-left: 0;
   }
}
.safe-transaction .head .descr__text {
   font-family: 'Open Sans';
   font-weight: 400;
   font-size: 20px;
   line-height: 27px;
   margin: 0px 15px;
}
@media (max-width: 991.98px) {
   .safe-transaction .head .descr__text {
      text-align: left;
      line-height: 19px;
   }
}
@media (max-width: 767.98px) {
   .safe-transaction .head .descr__text {
      font-size: 14px;
   }
}
.safe-transaction .head .createbtn {
   font-family: 'Open Sans';
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   background: #cc7f31;
   border-radius: 4px;
   max-width: 230px;
   min-height: 45px;
   margin: 0px 15px;
   cursor: pointer;
}
.safe-transaction .head .createbtn a {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 25px;
   text-decoration: none !important;
   color: #fff !important;
}
.safe-transaction .head .createbtn:hover {
   background: #e27c16;
}
@media (max-width: 991.98px) {
   .safe-transaction .head .createbtn {
      margin: 0 auto;
      max-width: 250px;
   }
}
.safe-transaction .section__two {
   margin-bottom: 185px;
}
.safe-transaction .step__container {
   margin: 0 auto;
}
.safe-transaction .step__title {
   font-family: 'Open Sans';
   font-weight: 700;
   font-size: 38px;
   line-height: 52px;
   margin: 0px 0px 80px 0px;
   text-align: center;
}
@media (max-width: 991.98px) {
   .safe-transaction .step__title {
      font-weight: 600;
      font-size: 26px;
      line-height: 35px;
      margin: 0px 0px 20px 0px;
      padding: 0px 15px;
   }
}
.safe-transaction .step .list {
   text-align: center;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-column-gap: 86px;
   -moz-column-gap: 86px;
   column-gap: 86px;
}
@media (max-width: 991.98px) {
   .safe-transaction .step .list {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      gap: 120px 50px;
   }
}
@media (max-width: 767.98px) {
   .safe-transaction .step .list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
   }
}
.safe-transaction .step .item {
   max-width: 266px;
   border: 1px solid rgba(204, 127, 49, 0.78);
   border-radius: 10px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
}
@media (max-width: 991.98px) {
   .safe-transaction .step .item {
      margin: 0px 15px;
   }
}
@media (max-width: 767.98px) {
   .safe-transaction .step .item {
      margin: 0px 0px;
      min-width: 345px;
   }
}
@media (max-width: 360.98px) {
   .safe-transaction .step .item {
      min-width: auto;
   }
}
.safe-transaction .step .item_revers {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   margin: 40px 0px -40px 0px;
}
@media (max-width: 991.98px) {
   .safe-transaction .step .item_revers {
      margin: 0px 0px 0px 0px;
   }
}
.safe-transaction .step .item__title {
   font-weight: 600;
   font-size: 20px;
   line-height: 27px;
   margin: 40px 0px 32px 0px;
}
@media (max-width: 767.98px) {
   .safe-transaction .step .item__title {
      margin: 32px 0px 28px 0px;
   }
}
.safe-transaction .step .item__title_revers {
   -webkit-box-ordinal-group: 3;
   -ms-flex-order: 2;
   order: 2;
   margin: 40px 0px 32px 0px;
}
@media (max-width: 991.98px) {
   .safe-transaction .step .item__title_revers {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
   }
}
.safe-transaction .step .item__text {
   font-size: 18px;
   line-height: 25px;
   padding: 0px 10px 17px 10px;
   -webkit-box-flex: 1;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
}
.safe-transaction .step .item__text_revers {
   -webkit-box-flex: 1;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   -webkit-box-ordinal-group: 4;
   -ms-flex-order: 3;
   order: 3;
}
@media (max-width: 991.98px) {
   .safe-transaction .step .item__text_revers {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
   }
}
.safe-transaction .step .item__img-number {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   margin: 0px 0px -64px 0px;
}
.safe-transaction .step .item__img-number_revers {
   -webkit-box-ordinal-group: 2;
   -ms-flex-order: 1;
   order: 1;
   margin: -60px 0px 30px 0px;
}
@media (max-width: 991.98px) {
   .safe-transaction .step .item__img-number_revers {
      margin: 0px 0px -75px 0px;
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3;
   }
}
.safe-transaction .privilege {
   padding-left: calc((100vw - 1170px) / 2);
   margin-left: calc((-100vw + 1170px) / 2);
   padding-right: calc((100vw - 1170px) / 2);
   margin-right: calc((-100vw + 1170px) / 2);
   background: #fff8ea;
}
@media (max-width: 1199.98px) {
   .safe-transaction .privilege {
      padding-left: calc((100vw - 970px) / 2);
      margin-left: calc((-100vw + 970px) / 2);
      padding-right: calc((100vw - 970px) / 2);
      margin-right: calc((-100vw + 970px) / 2);
   }
}
@media (max-width: 991.98px) {
   .safe-transaction .privilege {
      padding-left: calc((100vw - 750px) / 2);
      margin-left: calc((-100vw + 750px) / 2);
      padding-right: calc((100vw - 750px) / 2);
      margin-right: calc((-100vw + 750px) / 2);
   }
}
@media (max-width: 767.98px) {
   .safe-transaction .privilege {
      padding: 0px 0px;
      margin: 0px 0px;
   }
}
@media (max-width: 991.98px) {
   .safe-transaction .privilege {
      background-color: #fff;
   }
}
.safe-transaction .privilege .list {
   padding: 60px 20px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   row-gap: 120px;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}
@media (max-width: 1200px) {
   .safe-transaction .privilege .list {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      row-gap: 30px;
      background: #fff8ea;
      margin: 0px 15px;
      padding: 32px 10px;
   }
}
.safe-transaction .privilege .item {
   -webkit-box-flex: 0;
   -ms-flex: 0 0 475px;
   flex: 0 0 475px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}
@media (max-width: 991.98px) {
   .safe-transaction .privilege .item {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
   }
}
.safe-transaction .privilege .item__img {
   -webkit-box-flex: 0;
   -ms-flex: 0 0 auto;
   flex: 0 0 auto;
   margin: 0px 20px 0px 0px;
}
@media (max-width: 767.98px) {
   .safe-transaction .privilege .item__img img {
      width: 80px;
      height: 80px;
   }
}
.safe-transaction .privilege .item__title {
   font-weight: 600;
   font-size: 18px;
   line-height: 25px;
   margin: 0px 0px 10px 0px;
}
.safe-transaction .privilege .item__text {
   font-size: 14px;
   line-height: 20px;
}
