$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-refresh: "\e90e";
$icon-google-path1: "\e900";
$icon-google-path2: "\e901";
$icon-google-path3: "\e902";
$icon-google-path4: "\e903";
$icon-arrow: "\e904";
$icon-calls: "\e905";
$icon-check: "\e906";
$icon-close: "\e907";
$icon-consultations: "\e908";
$icon-elephant: "\e909";
$icon-facebook: "\e90a";
$icon-phone-call: "\e90b";
$icon-publications: "\e90c";
$icon-rating: "\e90d";
$icon-search: "\e90f";
$icon-secure-transactions: "\e910";
$icon-triangle: "\e911";

