$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-clock: "\e908";
$icon-star: "\e900";
$icon-google-path1: "\e901";
$icon-google-path2: "\e902";
$icon-google-path3: "\e903";
$icon-google-path4: "\e904";
$icon-arrow: "\e905";
$icon-calendar: "\e906";
$icon-calls: "\e907";
$icon-close: "\e909";
$icon-consultations: "\e90a";
$icon-elephant: "\e90b";
$icon-facebook: "\e90c";
$icon-phone-call: "\e90d";
$icon-printer: "\e90e";
$icon-publications: "\e90f";
$icon-rating: "\e910";
$icon-refresh: "\e911";
$icon-save: "\e912";
$icon-search: "\e913";
$icon-secure-transactions: "\e914";
$icon-triangle: "\e915";

